*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(142, 192, 142);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#container{
    width: 250px;
    border: 1px solid black;
    margin: 20px auto;
}

#container h4{
   color: black ;
    text-align: center;
}

#screen{
    display: block;
    margin: auto;
}

table{
    text-decoration: blueviolet;
    border: 5px solid blueviolet;
    margin: 20px auto;
}

td{
    border: 1px solid #ccc;
    height: 30px;
    width: 30px;
    box-shadow: 1px 1px 5px rgb(85, 85, 85);
}

td:active{
    transform: scale(0.9);
}

button{
    height: 100%;
    width: 100%;
    border: none;
}